# Git에 포함해야 하는 건 아래 주석 참고!

# 💻 이클립스 설정 포함시키자냥!
# (그래야 서블릿, 웹 모듈 설정도 같이 공유돼)
!.project
!.classpath
!.settings/

# 🔧 이클립스 자동 생성 빌드 파일 무시
/bin/
/target/
/build/

# ⚠️ OS/IDE 잡파일 무시
*.log
*.tmp
*.bak
*.swp
.DS_Store
.settings/org.eclipse.core.resources.prefs
