<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RailQ</title>
<link rel="stylesheet" href="../../../css/reservation.css">
</head>
<body>
    <div style="margin-bottom: 200px; border: 0;"></div>
	<div class="container">
        <div class="date-wrap">
            <a href="#" class="btn-arrow btn_bf"></a>
            <a href="#" class="btn-pop"><span class="btn-date">0000-00-00(화) 00:00</span></a>
            <a href="#" class="btn-arrow btn_nt"></a>
        </div>

        <div class="selectArea-wrap"></div>
        <div></div>
    </div>
</body>
</html>