*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

ul, li, a {
    list-style-type: none;
    text-decoration-line: none;
}

a:visited {
    color: inherit;
}

body {
    height: 2000px;
}


/* 모달 배경  */
.person-modal-zindex {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    left: 0;
    top: 0;
    display: none;
}

/* 모달창 부분 */
.person-modal-conainer {
    position: fixed;
    background-color: white;
    width: 800px;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
    overflow-y: auto;
    box-sizing: border-box;
}
@media (max-width: 1000px) {
    .person-modal-conainer {
        width: 500px;
    }
}

.tit_wrap {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid #cccccc;
}

.title-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-btn_close {
    background-image: url("https://www.korail.com/src/assets/common/img/ico_pop-close-black.png");
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 38px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

/* 모달 메인 */
.con-wrap {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

/* 지역선택, 역선택 부분 */
.content-ch-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.tit {
    flex: 0 0 100%;
}

.tit p {
    font-size: 1.3rem;
    font-weight: 900;
}

.person-content-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-weight: 600;
}

.flo-right {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.flo-btn {
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.down-btn {
    background-image: url("https://www.korail.com/src/assets/common/img/common/down_num_after.png");
}

.up-btn {
    background-image: url("https://www.korail.com/src/assets/common/img/common/plus_num_after.png");
}

/* 마우스 올릴떄 */
.cursor:hover {
    background-color: #e5f2ff;
    cursor: pointer;
    border: 1px solid gray;
}

