<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAILQ - 회원가입</title>
    <link rel="stylesheet" href="join.css">
</head>
<body>
        <!-- 메인 컨텐츠 영역 -->
        <div class="main-content">
            <div class="logo">RAILQ</div>
            <div class="page-title">회원가입</div>
            <!-- 회원가입 페이지 -->
            <div id="register-page" class="content-box">
                
                <div class="form-content">
                    <form id="registerForm" class="input-form">    
                        <div class="form-row">
                            <label for="userid">아이디</label>
                            <input type="text" id="userid" name="userid" placeholder="한글로 6자 이내로 입력해 주세요." required>
                        </div>
                        
                        <div class="form-row">
                            <label for="password">비밀번호</label>
                            <input type="password" id="password" name="password" placeholder="영문, 숫자 조합으로, 6-20자 이내로 생성 가능 (한글, 특수문자 사용 불가)" required>
                        </div>
                        
                        <div class="form-row">
                            <label for="name">이름</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        
                        <div class="form-row">
                            <label for="birthdate">생년월일</label>
                            <input type="text" id="birthdate" name="birthdate" placeholder="8자리" maxlength="8" required>
                        </div>
                        
                        <div class="form-row">
                            <label for="phone">전화번호</label>
                            <input type="text" id="phonenumber" name="phonenumber" maxlength="11" required>
                            <div class="gender-selector">
                                <div id="male" class="gender-option" onclick="selectGender('male')">남자</div>
                                <div id="female" class="gender-option" onclick="selectGender('female')">여자</div>
                            </div>
                            <input type="hidden" id="gender" name="gender">
                        </div>
                        
                        <div class="button-container">
                            <button type="button" class="submit-button" onclick="submitRegister()">회원 가입</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="join.js"></script>
</body>
</html>